<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Aggiungi Sacca</title>
    <!-- Collegamento al file CSS centralizzato -->
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
    <div class="container">
        <h1>Aggiungi una Sacca</h1>
        <form action="/aggiungi/invia" method="POST">
            <input type="text" name="campo1" placeholder="Inserisci Campo1" required>
            <input type="text" name="campo2" placeholder="Inserisci Campo2" required>
            <input type="text" name="campo3" placeholder="Inserisci Campo3" required>
            <button type="submit">Invia</button>
        </form>
    </div>
</body>
</html>
