<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <title>Dashboard Donatore</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/Stile.css') }}">
</head>

  <body>
      <h1>Benvenuto nella tua dashboard</h1>

      {% if sacche %}
      <h2>Storico donazioni</h2>
      <div class="donations-table">
          <table>
              <thead>
                  <tr>
                      <th>ID Sacca</th>
                      <th>Tipo</th>
                      <th>Quantità</th>
                      <th>Gruppo Sanguigno</th>
                      <th>Data Inserimento</th>
                      <th>Luogo</th>
                      <th>Test</th>
                      <th>Info</th>
                  </tr>
              </thead>
              <tbody>
                  {% for sacca in sacche %}
                      <tr>
                          <td>{{ sacca.data.sacca_id }}</td>
                          <td>{{ sacca.data.tipo }}</td>
                          <td>{{ sacca.data.quantita }}</td>
                          <td>{{ sacca.data.gruppo_sanguigno }}</td>
                          <td>{{ sacca.data.data_inserimento }}</td>
                          <td>{{ sacca.data.luogo }}</td>
                          <td>{{ sacca.data.test }}</td>
                          <td>{{ sacca.data.info }}</td>
                      </tr>
                  {% endfor %}
              </tbody>
          </table>
      </div>
      {% endif %}
          </tbody>
      </table>

  </div>
  </body>
</html>
